/* CSS Document */
/*
 | ------------------------------------------------------------------------------------------
 | 
 | ------------------------------------------------------------------------------------------
 |
 | @Author		:		Kenneth "digiArtist" Vallejos
 | @Created		:		Tuesday, May 1, 2012
 | @Modified	:		-----
 |
 |
 */

/* resets all default */
body, div, p, h1, h2, h3, h4, h5, h6, ul, li {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;}
a img {border:none;}